@import '../Vars.scss';

.Data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 70vh;
    padding-top: 2rem;

    h2{
        display: inline-block;
        text-transform: uppercase;
    }
}