@import '../Vars.scss';

.Index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 80vh;
    

    span{
        color: $w-blue;
        font-weight: 700;
    }
    
    p{
        display: inline-block;
    }
}