@import '../Vars.scss';

.UsersAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 70vh;
    padding-top: 2rem;

    h2{
        display: inline-block;
        text-transform: uppercase;
    }

    th {
        text-transform: uppercase;
    }
    .table-users{
        background-color: #ffffff;
        width: 100%;
        max-height: 70vh;
        overflow-y: scroll;
    }
}
.loader{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $w-blue;
    font-weight: 700;
}
.btn-add {
    background-color: $w-blue !important;
    border: 1px $w-blue solid !important;
    color: white;
}
.btn-add:hover{
    background-color: #127d85 !important;
}