@import "./Vars.scss";


* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: $theme-font !important;
  background-image: linear-gradient(
    to top,
    #77c1d8,
    #b1d2eb,
    #dfe7f6,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
}

.home-link {
  position: absolute;
  top: 0;
}
.app {
  height: auto;
  min-height: 100vh;
}
#app {
  height: auto;
  min-height: 100vh;
}