@media only screen and (min-width: 320px) {
    html {
      font-size: 12px;
    }
    .container{      
    width: 100%;
    }
    .topHome{
      width: 100% !important;
      padding-left: 2rem !important;
    }
    }