@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap);

$theme-font:  'Roboto', sans-serif;

$vp-white: #ffffff;
$vp-dark: #27293a;
$vp-green: #84AD95;
$vp-purple: #D31996;
$vp-pink: #D293B5;
$vp-blue: #626D84;
